<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>454699160816-jbrbuel6bb005aoq1cn1b7va2k4uc86l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.454699160816-jbrbuel6bb005aoq1cn1b7va2k4uc86l</string>
	<key>API_KEY</key>
	<string>AIzaSyA5c5VqOFeVUrMuX4wnFjGDKAZuaihVe6I</string>
	<key>GCM_SENDER_ID</key>
	<string>454699160816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.net.tleste.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-f8630</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-f8630.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454699160816:ios:d4197fcf797aefa0</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-f8630.firebaseio.com</string>
</dict>
</plist>